<!DOCTYPE html>
<html lang="hu">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bejelentkezés</title>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <main>
        <section id="login">
            <h1>Login</h1>
            <form action="/login" method="post">
                <input type="text" name="username" placeholder="Felhasználónév" required>
                <input type="password" name="password" placeholder="Jelszó" required>
                <button type="submit">Login</button>
            </form>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 URL Rövidítő. Minden jog fenntartva.</p>
    </footer>
</body>

</html>